@use '../../../../scss/variables' as *;

.message-section {
  max-height: 88vh;
  width: 100%;
  min-height: 50vh;
  background-color: $bg-color;
  position: relative;
  background-image: url('../../../../assets/images/bg-chat-tile-dark_opaq.png');
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
 
}