@use '../../scss/variables' as *;

.page-not-found {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  .page-not-found__number {
    font-size: 24rem;
  }

  .back-button {
    font-size: 4rem;
    background-color: transparent;
    border: none;
    background-color: $bg-block;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}