@use '../../scss/variables' as *;

.contacts {
	min-width: 43.2rem;
	height: 100%;
	background-color: $red;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.contacts__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

		.account-logo {
			height: 4rem;
			cursor: pointer;
		}

		.contacts__add-number {
			width: 2.4rem;
			height: 2.4rem;
			background-image: url('../../assets/images/plus.png');
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;
		}

		.contacts__logout {
			width: 2.4rem;
			height: 2.4rem;
			background-image: url('../../assets/images/logout.png');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
		}

		.contacts__add-number-popup {
			position: absolute;
			top: 6rem;
			left: 10rem;
			display: flex;
      z-index: 2;
			gap: 1rem;
      width: 25rem;
      height: 5rem;
      background-color: $grey-text;
      padding: 1rem;
      box-sizing: border-box;
      border-radius: 0.8rem;
      transition: all 0.3s ease-in-out;

      .contacts__add-number-input {
        background-color: $bg-input;
        width: 100%;
        border-radius: 0.8rem;
        padding: 0 1rem;
        box-sizing: border-box;
        font-size: 1.6rem;
        color: $grey-text;

        &:focus {
          outline: none;
        }
      }

      .contacts__add-number-btn {
        background-color: $bg-block;
        padding: 0.5rem;
        box-sizing: border-box;
        font-size: 1.2rem;
        border-radius: 0.8rem;
        cursor: pointer;
        border: none;
      }
		}
	}
}
